<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object Model">
    
    <listeners>
        <listener class-name="com.w2a.listeners.CustomListener" />
        <listener class-name="com.w2a.listeners.TestListenerAdapter"/>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
        
  </listeners>
    
    
	<test name="Framework Testing">
		<classes>
			<class name="com.w2a.testcases.Login" />
            <class name="com.w2a.testcases.CrmHomePageTest"></class>
		</classes>
	</test>

</suite>
